body{background-color: silver;}
      .ij{text-align: left; text-shadow:7px 5px 6px white;height: 80px;width:96%;padding:13px;margin:20px;color: black;font-size: 20px;font-style:bold;}
      hi{text-align: left;font-size:50px;color:black;font-style: bolder;}
      form{float:right;height:40px;}
      .im{background: blue;color: white;height:65px;word-spacing: 280px;margin-top: 20px;}
      .im li{display:inline;font-size:25px;font-style: bold;padding-top: 8px; }
      .mm{height: 550px;width:96%;padding: 15px;margin: 10px;background: blue;
      color: whitesmoke;font-size: 30px;font-style:bold; }
      .uj{background: silver;text-align: center;height: 42px; width: 96%;margin:12px;font-size: 36px;font-style:bolder;color: black;}
      a:link{color:black}
      a:visited{color:white}
      a:hover{color:silver}